.row {
    justify-content: center;
    text-align: center;
}
.container {
    margin-bottom: 5px;
}
li {
    margin-left: 50px;
    margin-right: 50px;
}
.md-form input {
    width: 30%;
    margin-left: 30px;
    margin-right: 30px;
    text-align: center;
}
.bonus-table {
    display: table;
    text-align: center;
}
.bonus-input {
    display: table-cell;
}
button {
    width: 50%;
}
.btn-div {
    text-align: center;
    margin-top: 10px;
}
.bonus-view {
    justify-content: center;
    text-align: center;
}