



<div mdbModal #namesModal="mdbModal" class="modal fade justify-content-center" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title w-100 text-center">Teams Names <span><img src="../../../assets/spades.png" class="img-fluid" style="height: 32px; width: 32px;" alt="Spades"></span></h4>
      </div>
      <div class="modal-body justify-content-center input-group">
        <input mdbInput type="text" class="text-center m-auto" (keyup.enter)="setTeamsNames(namesModal, team1NameInput.value, team2NameInput.value)" placeholder="Team1 Name" #team1NameInput>
        <br>
        <input mdbInput type="text" class="text-center m-auto" (keyup.enter)="setTeamsNames(namesModal, team1NameInput.value, team2NameInput.value)" placeholder="Team2 Name" #team2NameInput>
      </div>
      <div class="modal-footer justify-content-center">
        <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close" (click)="namesModal.hide()" mdbWavesEffect>Close</button>
        <button type="button" mdbBtn color="primary" class="waves-light" aria-label="Save" (click)="setTeamsNames(namesModal, team1NameInput.value, team2NameInput.value)" mdbWavesEffect>Save</button>
      </div>
    </div>
  </div>
</div>

<div mdbModal #addWinModal="mdbModal" class="modal fade justify-content-center" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title w-100 text-center">Add Scores And Bonuses</h4>
      </div>
      <div class="modal-body justify-content-center">
        <form class="md-form" (ngSubmit)="onAddScoresAndBonuses(addWinModal, addScoresAndBonuses)" #addScoresAndBonuses="ngForm">
          <h5>Win for team: {{ winningTeam }}</h5>
          <div class="form-check form-check-inline">
            <a type="button" mdbBtn color="primary" class="waves-light" (click)="changeWinningTeam('team1')" mdbWavesEffect>{{ team1Name }}</a>
          </div>
          <div class="form-check form-check-inline">
            <a type="button" mdbBtn color="primary" class="waves-light" (click)="changeWinningTeam('team2')" mdbWavesEffect>{{ team2Name }}</a>
          </div>
          <input type="text" name="winningTeam" id="winningTeam" [(ngModel)]="winningTeam" hidden required>
          <hr>
          <h5>Suit: {{ suit }}</h5>
          <div class="form-check form-check-inline">
            <a mdbBtn class="btn-floating rounded-circle" (click)="changeSuit('clubs')"><img class="img-fluid clubs-icon" style="height: 32px; width: 32px;" src="../../../assets/clubs.png" alt="clubs"></a>
          </div>
          <div class="form-check form-check-inline">
            <a mdbBtn class="btn-floating rounded-circle" (click)="changeSuit('diamonds')"><img class="img-fluid clubs-icon" style="height: 32px; width: 32px;" src="../../../assets/diamonds.png" alt="diamonds"></a>
          </div>
          <div class="form-check form-check-inline">
            <a mdbBtn class="btn-floating rounded-circle" (click)="changeSuit('hearts')"><img class="img-fluid clubs-icon" style="height: 32px; width: 32px;" src="../../../assets/hearts.png" alt="hearts"></a>
          </div>
          <div class="form-check form-check-inline">
            <a mdbBtn class="btn-floating rounded-circle" (click)="changeSuit('spades')"><img class="img-fluid clubs-icon" style="height: 32px; width: 32px;" src="../../../assets/spades.png" alt="spades"></a>
          </div>
          <div class="form-check form-check-inline">
            <a mdbBtn class="btn-floating rounded-circle" (click)="changeSuit('nt')"><img class="img-fluid clubs-icon" style="height: 32px; width: 32px;" src="../../../assets/nt.png" alt="NT"></a>
          </div>
          <input type="text" id="suit" name="suit" hidden [(ngModel)]="suit">
          <!-- bet: 7 8 9 10 11 12 13 use slider
          won bets: 7 8 9 10 11 12 13 use slider
          none double doubledouble radio
          vulnerable or non-vulnerable radio
          button: add -->
          <hr>
          <div class="form-group justify-content-start">
            <h6>Bets</h6>
          </div>
          <div class="form-group">
            <ng5-slider id="bet" name="bet" value="7" [options]="WinRangeOptions" ngModel></ng5-slider>
          </div>
          <hr>
          <div class="form-group justify-content-start">
            <h6>Bets Won</h6>
          </div>
          <div class="form-group">
            <ng5-slider id="wonBets" name="wonBets" value=7 [options]="WinRangeOptions" ngModel></ng5-slider>
          </div>
          <hr>
          <h6>Double State: {{ doubleState }}</h6>
          <div class="form-check form-check-inline">
            <a type="button" mdbBtn color="primary" class="waves-light" aria-label="None" (click)="changeDoubleState('none')" mdbWavesEffect>None</a>
          </div>
          <div class="form-check form-check-inline">
            <a type="button" mdbBtn color="primary" class="waves-light" aria-label="Double" (click)="changeDoubleState('double')" mdbWavesEffect>Double</a>
          </div>
          <div class="form-check form-check-inline">
            <a type="button" mdbBtn color="primary" class="waves-light" aria-label="Double Double" (click)="changeDoubleState('doubleDouble')" mdbWavesEffect>Double Double</a>
          </div>
          <input type="text" id="doubleState" name="doubleState" [(ngModel)]="doubleState" hidden>
          <hr>
          <h6>Is the other team vulnerable? {{ otherTeamVulnerable }}</h6>
          <div class="form-check form-check-inline">
            <a type="button" mdbBtn color="primary" class="waves-light" aria-label="Not Vulnerbale" (click)="otherTeamVulnerable = false" mdbWavesEffect>No</a>
          </div>
          <div class="form-check form-check-inline">
            <a type="button" mdbBtn color="primary" class="waves-light" aria-label="Vulnerbale" (click)="otherTeamVulnerable = true" mdbWavesEffect>Yes</a>
          </div>
          <input type="text" name="otherTeamVulnerable" id="otherTeamVulnerable" [(ngModel)]="otherTeamVulnerable" hidden>
          <hr>
          <div class="modal-footer justify-content-center">
            <button class="btn btn-primary" type="submit" [disabled]="!addScoresAndBonuses.valid">Add</button>
            <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close" (click)="addWinModal.hide()" mdbWavesEffect>Close</button>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>

<div mdbModal #addLossModal="mdbModal" class="modal fade justify-content-center" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title w-100 text-center">Add Loss</h4>
      </div>
      <div class="modal-body justify-content-center">
        <form class="md-form" (ngSubmit)="onAddLoss(addLossModal, addLossForm)" #addLossForm="ngForm">
          <h5>Lost Team: {{ losingTeam }}</h5>
          <div class="form-check form-check-inline">
            <a type="button" mdbBtn color="primary" class="waves-light" (click)="changeLosingTeam('team1')" mdbWavesEffect>{{ team1Name }}</a>
          </div>
          <div class="form-check form-check-inline">
            <a type="button" mdbBtn color="primary" class="waves-light" (click)="changeLosingTeam('team2')" mdbWavesEffect>{{ team2Name }}</a>
          </div>
          <input type="text" name="losingTeam" id="losingTeam" [(ngModel)]="losingTeam" hidden required>
          <hr>
          <div class="form-group justify-content-start">
            <h6>Bets</h6>
          </div>
          <div class="form-group">
            <ng5-slider id="betL" name="betL" value="7" [options]="betRangeOptions" ngModel></ng5-slider>
          </div>
          <hr>
          <div class="form-group justify-content-start">
            <h6>Bets Won</h6>
          </div>
          <div class="form-group">
            <ng5-slider id="wonBets" name="wonBets" value=7 [options]="wonStrikesRangeOptions" ngModel></ng5-slider>
          </div>
          <hr>
          <h6>Double State: {{ losingDoubleState }}</h6>
          <div class="form-check form-check-inline">
            <a type="button" mdbBtn color="primary" class="waves-light" aria-label="None" (click)="changeLosingDoubleState('none')" mdbWavesEffect>None</a>
          </div>
          <div class="form-check form-check-inline">
            <a type="button" mdbBtn color="primary" class="waves-light" aria-label="Double" (click)="changeLosingDoubleState('double')" mdbWavesEffect>Double</a>
          </div>
          <div class="form-check form-check-inline">
            <a type="button" mdbBtn color="primary" class="waves-light" aria-label="Double Double" (click)="changeLosingDoubleState('doubleDouble')" mdbWavesEffect>Double Double</a>
          </div>
          <input type="text" id="losingDoubleState" name="losingDoubleState" [(ngModel)]="losingDoubleState" hidden>
          <hr>
          <h6>Is the losing team vulnerable? {{ losingTeamVulnerable }}</h6>
          <div class="form-check form-check-inline">
            <a type="button" mdbBtn color="primary" class="waves-light" aria-label="Not Vulnerbale" (click)="losingTeamVulnerable = false" mdbWavesEffect>No</a>
          </div>
          <div class="form-check form-check-inline">
            <a type="button" mdbBtn color="primary" class="waves-light" aria-label="Vulnerbale" (click)="losingTeamVulnerable = true" mdbWavesEffect>Yes</a>
          </div>
          <input type="text" name="losingTeamVulnerable" id="losingTeamVulnerable" [(ngModel)]="losingTeamVulnerable" hidden>
          <hr>
          <div class="modal-footer justify-content-center">
            <button class="btn btn-primary" type="submit" [disabled]="!addLossForm.valid">Add</button>
            <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close" (click)="addLossModal.hide()" mdbWavesEffect>Close</button>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div style="text-align: center; position: relative;">
    <button type="button" mdbBtn color="primary" class="waves-light" (click)="addWinModal.show()" mdbWavesEffect>Add Win</button>
    <button type="button" mdbBtn color="primary" class="waves-light" (click)="addLossModal.show()" mdbWavesEffect>Add Loss</button>
  </div>

  <mdb-card>
    <mdb-card-header class="indigo" style="text-align: center;"><label style="color: white;">Bonus</label></mdb-card-header>
    <mdb-card-body>
  
      <div class="container">
        <div class="row">
          <div class="bonus-view">
            <div class="bonus-table">
              <ul class="list-group bonus-input m-auto">
                <li class="list-group-item" [ngClass]="team1Danger ? 'btn-danger' : ''">{{ team1Name }}</li>
                <li class="list-group-item" *ngFor="let team1b of game.team1.bonus">{{ team1b }}</li>
              </ul>
              <ul class="list-group bonus-input m-auto">
                <li class="list-group-item" [ngClass]="team2Danger ? 'btn-danger' : ''">{{ team2Name }}</li>
                <li class="list-group-item" *ngFor="let team2b of game.team2.bonus">{{ team2b }}</li>
              </ul>
            </div>
            <div class="row">
              <form class="md-form" (ngSubmit)="onAddBonus(fb)" #fb="ngForm">
                <div class="bonus-table">
                  <div class="form-group bonus-input">
                    <input mdbInput name="team1ba" id="team1ba" type="number" placeholder="Amount" ngModel> 
                    <input mdbInput name="team2ba" id="team2ba" type="number" placeholder="Amount" ngModel>
                    <div class="col-sm-12 btn-div">
                      <button class="btn btn-lg btn-primary" type="submit">Add</button>
                    </div>
                  </div>  
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
  
    </mdb-card-body>
  </mdb-card>

</div>


<div class="container-fluid">

  <mdb-card>
    <mdb-card-header class="indigo" style="text-align: center;"><label style="color: white;">Score | Games Played: {{ gamesPlayed }}</label></mdb-card-header>
    <mdb-card-body>
  
      <div class="container">
        <div class="row">
          <div class="bonus-view">
            <div class="bonus-table">
              <ul class="list-group bonus-input m-auto">
                <li class="list-group-item" [ngClass]="team1Danger ? 'btn-danger' : ''">{{ team1Name }}</li>
                <li class="list-group-item">Wins: {{ game.team1.gamesWon }}</li>
                <li class="list-group-item" *ngFor="let team1s of game.team1.score">{{ team1s }}</li>
              </ul>
              <ul class="list-group bonus-input m-auto">
                <li class="list-group-item" [ngClass]="team2Danger ? 'btn-danger' : ''">{{ team2Name }}</li>
                <li class="list-group-item">Wins: {{ game.team2.gamesWon }}</li>
                <li class="list-group-item" *ngFor="let team2s of game.team2.score">{{ team2s }}</li>
              </ul>
            </div>
            <div class="row">
              <form class="md-form" (ngSubmit)="onAddScore(fs)" #fs="ngForm">
                <div class="bonus-table">
                  <div class="form-group bonus-input">
                    <input mdbInput name="team1sa" id="team1sa" type="number" placeholder="Amount" ngModel> 
                    <input mdbInput name="team2sa" id="team2sa" type="number" placeholder="Amount" ngModel>
                    <div class="col-sm-12 btn-div">
                      <button class="btn btn-lg btn-primary" type="submit">Add</button>
                    </div>
                  </div>  
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
  
    </mdb-card-body>
  </mdb-card>
  
</div>

<div class="container-fluid">

  <mdb-card>
    <mdb-card-header class="indigo" style="text-align: center;"><label style="color: white;">Total</label></mdb-card-header>
    <mdb-card-body>
  
      <div class="container">
        <div class="row">
          <div class="bonus-view">
            <div class="bonus-table">
              <ul class="list-group bonus-input m-auto">
                <li class="list-group-item" [ngClass]="team1Danger ? 'btn-danger' : ''">{{ team1Name }}</li>
                <li class="list-group-item">{{ getTotal().team1 }}</li>
              </ul>
              <ul class="list-group bonus-input m-auto">
                <li class="list-group-item" [ngClass]="team2Danger ? 'btn-danger' : ''">{{ team2Name }}</li>
                <li class="list-group-item">{{ getTotal().team2 }}</li>
              </ul>
            </div>
            <div class="col-sm-12 btn-div">
              <button class="btn btn-lg btn-danger" (click)="resetGame()">Reset</button>
            </div>
          </div>
        </div>
      </div>
  
    </mdb-card-body>
  </mdb-card>
    
</div>




