
<div class="container-fluid">
    <div class="row">
        <div id="controls"  style="text-align: center; position: relative;">
            <button type="button" mdbBtn color="primary" class="waves-light" (click)="selectPlayers()" mdbWavesEffect>New Game </button>
        </div>
    </div>

    <div class="row" id="showPlayersDiv" >
        <div class="col">
            <div class="row">
                <div class="col big-box player-list">
                    Select Players:
                    <ul>
                        <li class="btn" [class.green]="team2.players.includes(player)" [class.red]="team1.players.includes(player)" (click)="addToTeam(player)" *ngFor="let player of players$ | async "> {{ player.name }} </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row grid">
        <div *ngFor="let team of [team1,team2]; let i=index" class="col grid-cell">
            <label> Team {{  i + 1  }} </label>
            <ul>
                <li *ngFor="let player of team.players">{{ player?.name }} <span><button  class="btn" (click)="removePlayer(player,team)"> REMOVE</button></span>  </li>
            </ul>
        </div>
    </div>
    <div *ngIf="areTeamsFull()" class="row">
        <button (click)="startGame()" class="btn btn-primary">Start</button>
    </div>

</div>
