
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark indigo">
    <!-- navbar brand -->
    <mdb-navbar-brand><a class="navbar-brand" routerLink="/" routerLinkActive="router-link-active" >Bridge Stats</a></mdb-navbar-brand>

    <!-- collapsable content -->
    <links>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" routerLinkActive="active">
                <a routerLink="/" class="nav-link waves-light" mdbWavesEffect>Home</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a routerLink="/game" class="nav-link waves-light" mdbWavesEffect>New Game</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a [routerLink]="['/history', 'guest']" class="nav-link waves-light" mdbWavesEffect>History</a>
            </li>
        </ul>
        <ul class="navbar-nav navbar-right" *ngIf="checkAuthenticated()">
            <li class="nav-item" routerLinkActive="active">
                <a routerLink="/login" class="nav-link waves-light" mdbWavesEffect>Login</a>
            </li>
        </ul>
        <ul class="navbar-nav navbar-right" *ngIf="!checkAuthenticated()">
            <li class="nav-item">
                <a class="nav-link">{{ displayName }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-light" (click)="onLogout()" mdbWavesEffect>Logout</a>
            </li>
        </ul>
        
    </links>


</mdb-navbar>